* {
  margin: 0;
  padding: 0;
}
body {
  background: #222;
  perspective: 800px;
}
#wrap {
  position: relative;
  width: 120px;
  height: 180px;
  margin: auto;
  transform-style: preserve-3d; /*设置3D环境*/
}
#wrap img {
  position: absolute;
  width: 133px;
  height: 200px;
  box-shadow: 0 0 10px #000;
  /*倒影:朝向 偏移*/
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, rgba(0, 0, 0, 0)
        40%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 5px; /*圆角*/
  /* transform:rotateY(0deg) translateZ(0px); */
  /*transition:1s 1s;动画执行的时间 动画延迟的时间*/
}
#wrap p {
  position: absolute;
  left: 50%;
  top: 112%;
  margin-left: -600px;
  margin-top: -600px;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background: -webkit-radial-gradient(
    center center,
    600px 600px,
    rgba(122, 122, 122, 0.2),
    rgba(0, 0, 0, 0)
  );
  transform: rotateX(90deg);
}
